<form action="<%= cats_url %>" method="post">
  <!-- <input type="hidden" name="_method" value="patch"> -->
  <table>
    <thead>
      <tr>
        <th colspan="2" align="center">New Cat</th>
      </tr>
    </thead>
    <tbody>
      <tr>

        <td>Name: </td>
        <td>
          <input id="name"
          type="text"
          name="cat[name]"
          value="<%= @cat.name %>">
        </td>
      </tr>
      <tr>
        <td>Birthday: </td>
        <td><input id="birthday"
          type="date"
          name="cat[birth_date]"
          value="<%= @cat.birth_date %>">
        </td>
      </tr>
      <tr>
        <td>Color: </td>
        <td><select id="color" name="cat[color]">
          <option disabled selected>Select a color</option>
          <% Cat::COLORS.each do |color| %>
          <option value="<%= color %>"><%= color %></option>
          <% end %>
        </select></td>
      </td>
    </tr>
    <tr>
      <td>Sex: </td>
      <td><select id="sex" name="cat[sex]">
        <option disabled selected>Select a sex</option>
        <option value="M">M</option>
        <option value="F">F</option>
      </select></td>
    </tr>
    <tr>
      <td>Description: </td>
      <td><textarea id="description" name="cat[description]">
      </textarea>
    </td>
  </tr>
</tbody>
<tfoot>
  <tr>
    <td><input type="submit" value="Create Cat"></td>
  </tr>
</tfoot>
</table>
